@import '../../../styles/resources.scss';

.aboutContainer {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10rem 5rem 0 0;
  animation: fadeIn linear both;
  animation-timeline: view();

  .subcontainer {
    display: flex;
    flex-direction: column;

    .label {
      display: flex;
      gap: 8px;
      font-size: 90px;
      font-family: $font-family-roobert;
      line-height: 94.5px;
      color: var(--text-secondary);

      .secondarylabel {
        color: var(--text-primary);
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 450px) {
  .aboutContainer {
    justify-content: flex-start;
    align-items: center;

    .subcontainer {
      .label {
        font-size: 50px;
        gap: 4px;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .aboutContainer {
    .subcontainer {
      .label {
        font-size: 60px;
      }
    }
  }
}
