@import '../../../styles/resources.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.descContainer {
  width: auto;
  margin: 20rem 2rem 10rem 2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  white-space: none;
  flex-wrap: wrap;
  animation: fadeIn linear both;
  animation-timeline: view();
  gap: 1rem;

  .label {
    font-size: 30px;
    font-family: $font-family-roobert;
    line-height: 34.5px;
    color: var(--text-secondary);

    .secondarylabel {
      color: var(--text-primary);
    }
  }

  .title {
    display: flex;
    gap: 8px;
    font-size: 90px;
    font-family: $font-family-roobert;
    line-height: 94.5px;
    color: var(--text-secondary);
  }
}
