@import '../../../styles/resources.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.container {
  margin: 20rem 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  white-space: none;
  flex-wrap: wrap;
  transform-origin: 0 50%;
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;

  .label {
    font-size: 30px;
    font-family: $font-family-roobert;
    line-height: 34.5px;
    color: var(--text-secondary);

    .secondarylabel {
      color: var(--text-primary);
    }
  }
}
