@import 'src/styles/resources.scss';

.projectsContainer {
  width: auto;
  margin: 20rem 2rem 10rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  animation: fadeIn linear both;
  animation-timeline: view();

  .carousel {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    align-self: flex-start;
    .label {
      display: flex;
      gap: 8px;
      font-size: 90px;
      font-family: $font-family-roobert;
      line-height: 94.5px;
      color: var(--text-secondary);
      animation-timeline: view();
      animation-range: 0 300px;
    }
  }

  .grid {
    width: auto;
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 5rem;
    grid-template-columns: repeat(3, fit-content(300px));

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 1rem;

      &:hover {
        box-shadow: $box-shadow-2;
      }
      .logo {
        height: 80px;
        border-radius: 8px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .projectsContainer {
    .title {
      .label {
        font-size: 50px;
      }
    }
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .projectsContainer {
    .title {
      .label {
        font-size: 70px;
      }
    }
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
