.imageCarousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  .carouselImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .carouselButton {
    position: absolute;
    bottom: 50%;
    right: 0;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
}
