@import '../../../styles/resources.scss';

.buttonContainer-true {
  padding: 6px 16px;
  width: auto;
  height: 30%;
  background-color: $success-color;
  border-radius: 16px;
  cursor: pointer;

  .typographyContainer {
    color: $white;
  }
}

.buttonContainer-false {
  @extend .buttonContainer-true;
  background-color: $start-color;

  .typographyContainer {
    color: $white;
  }
}

@media screen and (max-width: 480px) {
  .buttonContainer-true {
    padding: 3px 9px;
    font-size: 12px;
  }
}
