.app {
  min-height: 100vh;
  background: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  user-select: none;
}
