@import './typography';
@import './variables';
@import './mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html body {
  color: $text-color;
  font-family: $font-family-source-code, monospace;
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: auto;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@supports (-ms-ime-align: auto) {
  body {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

/* Microsoft Edge (Chromium) */
@supports (-ms-ime-align: auto) and (not (-ms-accelerator: true)) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  background-color: transparent;
}

.Toastify__toast {
  box-shadow: none !important;
}

.Toastify__toast-theme--light {
  background: transparent !important;
  color: inherit !important;
}

.Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
}

[data-theme='dark'] {
  --text-primary: #ffffff;
  --text-secondary: #5c5c5c;
  --accent: darkred;
  --boxShadow-color1: rgb(168, 161, 161);
  --boxShadow-color2: rgb(168, 161, 161);
  --form-fields-background-color: lightgray;
  --table-header-color: #302d2d;
  --table-background: rgb(110, 105, 105);
  --table-border: rgb(182, 167, 167);
  --data-not-found-heading: #ffffff;
  --background: url('https://tailwindcss.com/_next/static/media/hero-dark@90.dba36cdf.jpg');
}

[data-theme='light'] {
  --background: url('https://tailwindcss.com/_next/static/media/hero@75.b2469a49.jpg');
  --text-primary: #363537;
  --text-secondary: #b9b9b9;
  --accent: darkred;
  --boxShadow-color1: #1018281a;
  --boxShadow-color2: #1018280f;

  --table-header-color: #71b8f3;
  --table-background: #f2f8fd;
  --table-border: black;
  --form-fields-background-color: white;
  --data-not-found-heading: #2196f3;
}
