@import '../../../styles/resources.scss';

.loadingWrapper {
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-poppins;
  font-size: 16;
  font-weight: 400;
  color: $color-grey-6;
}
