.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;

  .container {
    width: auto;
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 5rem;
    grid-template-columns: repeat(6, fit-content(300px));
  }
}
