@import '../../../styles/resources.scss';

.wrapper {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
  text-align: center;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    .titleWrapper {
      display: flex;
      justify-content: flex-start;
    }

    .contentWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
